@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@50&family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    --slide_points_red: rgba(231, 74, 62, 0.8);
    --primary_red: #E6493D;
    --secondary_red: #ED5B5B;
    --card_shadow: rgba(222, 225, 255, 0.22);
    height: 100%;
}

body {
    min-height: 100%;
    border-top: none;
    font-family: 'Istok Web', sans-serif;
    background-color: white;
    padding: 0 25px;
}

/******************************* INTRO  **************************/
.intro {
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    /* Allow items to grow and take equal space within the container */
    min-width: 100px;
    /* Set a minimum width for each item */
}

.title {
    height: 50px;
    width: 20%;
    color: var(--primary_red);
    font-size: 40px;
    font-weight: 600;
}

.comment {
    max-width: 700px;
    text-align: left;
    padding: auto 0 auto 20px;
    width: 80%;
    margin: auto 0;
}

/******************************* TYPE OF COURSES  **************************/
.course_categories {
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 43px;
}

.type_course_btn {
    color: white;
    font-size: 1em;
    border: 2px solid var(--secondary_red);
    border-radius: 15px;
    box-shadow: none;
    cursor: pointer;
    margin: 0 20px;
    margin-top: 25px;
    width: auto;
    padding: 20px 25px;
    background: #FECDCD;
    transition: all 0.5s linear;
}

.type_course_btn.active {
    background: linear-gradient(0deg, #E6493D, #E6493D),
        linear-gradient(0deg, #ED5B5B, #ED5B5B);
}

/******************************* SERVICES BODY SECTION  **************************/

#services {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.main-services {
    height: auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(10rem, 20rem));
    /*grid-auto-rows: minmax(100px, auto);*/
    row-gap: 50px;
    column-gap: 30px;
    justify-content: space-evenly;
}

.card_container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(197, 197, 197, 1);
    border-radius: 15px;
    /* Shadows for all four sides */
    box-shadow:
        10px 0 5px var(--card_shadow),
        /* Right shadow */
        0 10px 5px var(--card_shadow),
        /* Bottom shadow */
        -10px 0 5px var(--card_shadow),
        /* Left shadow */
        0 -10px 5px var(--card_shadow);
    /* Top shadow */
    overflow: hidden;
}

.card_container:hover {
    transform: scale(1.05, 1.05);
}

.service_details {
    position: relative;
    text-align: justify;
}

.card_btn {
    padding: 10px;
    color: white;
    width: auto;
    font-size: 1em;
    border: 0 solid var(--secondary_red);
    background: linear-gradient(0deg, #ED5B5B, #ED5B5B),
        linear-gradient(0deg, #FECDCD, #FECDCD);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}


.card_btn:hover {
    color: var(--secondary_red);
    background: transparent;
    border: 1px solid var(--secondary_red);
}

.cicles_container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
}

.circle {
    width: 3em;
    height: 3em;
    margin: 0 5px;
    border: 2px solid var(--secondary_red);
    border-radius: 50%;
    cursor: pointer;
}

.circle.active {
    background-color: var(--secondary_red);
}

/********************* END SERVICES BODY SECTION ***********************/
/***********************     MEDIA QUERIES    **************************/

@media screen and (min-width:501px) and (max-width:860px) {
    .type_course_btn {
        width: 100px;
        font-size: .8em;
        margin: 0 12px;
    }

    .main-services {
        grid-template-columns: repeat(2, minmax(12rem, 20rem));
        row-gap: 30px;
        column-gap: 30px;
        justify-content: space-evenly;
    }

    .circle {
        width: 2em;
        height: 2em;
        margin: 0 5px;
        border: 2px solid var(--secondary_red);
        border-radius: 50%;
    }

}

@media screen and (max-width:500px) {
    .course_categories {
        flex-direction: column;
    }

    .main-services {
        grid-template-columns: 86vw;
        /*grid-auto-rows: minmax(100px, auto);*/
        row-gap: 30px;
        justify-content: center;
        position: relative;
    }

    .service_details {
        font-size: 0.93rem;
    }

    .circle {
        width: 1em;
        height: 1em;
        margin: 0 5px;
        border: 2px solid var(--secondary_red);
        border-radius: 50%;
        transition: all 0.5s linear;
    }

    .card_container,
    .card {
        width: 100%;
        margin: 0 auto;
    }

    .card {
        height: 300px;
    }

    .card_btn {
        font-size: small;
    }

}

h3 {
    color: var(--secondary_red);
    margin-bottom: 11px;
}

.text {
    font-size: small;
    color: rgba(0, 0, 0, 1);
    background-color: none;

}

/***********************     MEDIA QUERIES FOR INTRO SECTION    **************************/
@media screen and (max-width:860px) {
    .intro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .comment,
    .title {
        width: 100%;
        margin: 0 auto;
    }

    .comment {
        margin-top: 10px;
    }
}

@media screen and (min-width:860px) and (max-width:1050px) {

    .title {
        font-size: 35px;
        width: auto;
        margin-top: 10px;
    }

    .comment {
        margin-left: 20px;
    }
}