@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@50&family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    --slide_points_red: rgba(231, 74, 62, 0.8);
    --primary_red: #E6493D;
    --secondary_red: #ED5B5B;
    --card_shadow: rgba(222, 225, 255, 0.22);
    height: 100%;
}

body {
    min-height: 100%;
    border-top: none;
    font-family: 'Istok Web', sans-serif;
    /* font-family: Patua One, Poppins, Arial; */
    /* padding: 30px 30px 0 30px; */
    background-color: white;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    z-index: 1;
    padding: 0 25px;
}


/********************* SERVICES BODY SECTION  **************************/

#services {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
}


.main-services {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 20rem));
    /*grid-auto-rows: minmax(100px, auto);*/
    row-gap: 50px;
    column-gap: 30px;
    justify-content: space-evenly;
}

.card_container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(197, 197, 197, 1);
    border-radius: 15px;
    /* Shadows for all four sides */
    box-shadow:
        10px 0 5px var(--card_shadow),
        /* Right shadow */
        0 10px 5px var(--card_shadow),
        /* Bottom shadow */
        -10px 0 5px var(--card_shadow),
        /* Left shadow */
        0 -10px 5px var(--card_shadow);
    /* Top shadow */
    overflow: hidden;
}

.card_container:hover {
    transform: scale(1.05, 1.05);
}

.service_details {
    position: relative;
    text-align: justify;
}

.card_btn,
.type_course_btn {
    padding: 10px;
    color: white;
    width: auto;
    font-size: 1em;
    background: var(--secondary_red);
    border: 0 solid var(--secondary_red);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}


.card_btn:hover {
    color: var(--secondary_red);
    background-color: transparent;
    border: 1px solid var(--secondary_red);

}

.cicles_container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
}

.circle,
.circle_active {
    width: 3em;
    height: 3em;
    margin: 0 5px;
    border: 2px solid var(--secondary_red);
    border-radius: 50%;
}

.circle_active {
    background-color: var(--secondary_red);
}


@media screen and (min-width:551px) and (max-width:860px) {
    .main-services {
        grid-template-columns: repeat(2, minmax(16rem, 22rem));
        row-gap: 30px;
        column-gap: 30px;
        justify-content: space-evenly;
    }

    .circle,
    .circle_active {
        width: 2em;
        height: 2em;
        margin: 0 5px;
        border: 2px solid var(--secondary_red);
        border-radius: 50%;
    }

}

@media screen and (max-width:550px) {
    .main-services {
        grid-template-columns: 95%;
        /*grid-auto-rows: minmax(100px, auto);*/
        row-gap: 30px;
        justify-content: center;
    }

    .service_details {
        font-size: 0.93rem;
    }

    .circle,
    .circle_active {
        width: 1em;
        height: 1em;
        margin: 0 5px;
        border: 2px solid var(--secondary_red);
        border-radius: 50%;
    }

    .card {
        height: 300px;
    }

    .card_btn {
        font-size: small;
    }

}

h3 {
    color: var(--secondary_red);
    margin-bottom: 11px;
}

.text {
    font-size: small;
    color: rgba(0, 0, 0, 1);
    background-color: none;

}

/********************* END SERVICES BODY SECTION ***********************/